
body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
    color: #ffffff;
    text-align: center;
}
#countLabel{
    font-size: 35px;
    position: relative;
    top: 50px;
    
}
#countButton{
    font-size: x-large;
    position: relative;
    top: 90px;
}
#linkedin{
    color: #0077b5;
    position: relative;
    top: 400px;
}
#lofi{
    position: relative;
    top: 125px;
}
p{
    position:relative;
    top:125px;

}
